<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenMacroBoard.SDK" version="0.3.0" targetFramework="net40" />
  <package id="OpenMacroBoard.VirtualBoard" version="0.2.1" targetFramework="net40" />
  <package id="StreamDeckSharp" version="0.3.1" targetFramework="net40" />
</packages>